In [22]:
import pickle
from typing import List

import numpy as np
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from importlib import reload
import visualise
reload(visualise)
from visualise import get_tsne_points, do_inference, PKL
from constants import *

init_notebook_mode(connected=True)

In [23]:
def plot_points(points: np.ndarray, labels: List[List[str]]):
    xs = points[:, 0]
    ys = points[:, 1]
    fig = px.scatter(x=xs, y=ys)
    fig.update_layout(
        autosize=False,
        width=800,
        height=800,
        template='seaborn'
        
    )
    fig.show()

In [49]:
import pandas as pd


def clean_nans(embeddings_obj):
    clean_records = []
    clean_labels = []
    records = embeddings_obj["embeddings"]
    print(f"Got {records.shape[0]} records before cleaning")
    for i, record in enumerate(records):
        if not np.isnan(record).any():
            clean_records.append(record)
            clean_labels.append(embeddings_obj["labels"][i])
    records = np.stack(clean_records, axis=0)
    print(f"Got {records.shape[0]} records after cleaning")
    return {
        "embeddings": records,
        "labels": clean_labels
    }

def points2dataframe(points, labels):
    columns = ["x", "y"]
    points_df = pd.DataFrame(points, columns=columns)
    labels = [", ".join(l) for l in labels]
    points_df["labels"] = labels
    return points_df

In [47]:

with open(PKL, "rb") as fh:
    embeddings_obj = pickle.load(fh)

embeddings_cleaned = clean_nans(embeddings_obj)

Got 324 records before cleaning
Got 318 records after cleaning

In [50]:
from visualise import get_tsne_points

embeddings = embeddings_cleaned["embeddings"]
labels = embeddings_cleaned["labels"]
print(labels)
points2d = get_tsne_points(embeddings)
points2dataframe(points2d, embeddings_cleaned["labels"])
# plot_points(points2d)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

             x          y labels
0   -42.143063  44.112995
1   -16.713369  56.385128
2   -16.713369  56.385128
3    53.835869  -8.611006
4    10.506558  35.553764
..         ...        ...    ...
313  11.378222  -1.623619
314 -15.195055   2.972925
315   0.872205  -0.437329
316  -9.279367   3.409495
317   3.280713  -0.508819

[318 rows x 3 columns]